.row{
  margin-top:1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img-responsive{
  margin:20px 100px;
}
.author{
  color: rgb(141, 138, 138);
}
strong{
  color:rgb(199, 58, 2)
}
span{
  color:rgb(231, 153, 7);
}